@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scan {
  0% { transform: translateY(-50%); }
  50% { transform: translateY(50%); }
  100% { transform: translateY(-50%); }
}
.animate-scan {
  animation: scan 2s infinite;
}